/* Nicole Stiner
Research Project Examples
10/04/2015 */

#main {
    background-color: deepskyblue;
}

#div {
    background-color: #f29904;
    margin: 10px;
    width: 800px;
}

#article, article{
    opacity: .7;
    border: solid 1px #000;
    margin: 10px;
    margin-top: 5px;
}

#article h1 {
    color: #000000;
    margin-left: 5px;
    margin-top: 5px;
}

#article h3 {
    color: #000000;
    margin-left: 3px;
    text-decoration: underline;
}

#article p {
    margin-left: 3px;
    margin-top: 1px;
}

#section1 {
    background-color: lavender;
    margin-top: 1px;
    margin-left: 2px;
}

#footer {
    opacity: .5;
    color: red;
    text-align: center;

}