/* Project CSS 
============================================================
============================================================*/
/* MAIN ================================ */
body{
		background: url('../bluepinkabstract.png') center fixed no-repeat;
		background-size: cover;
		font-size: 100/1.5;
		font-style: sans-serif;
		line-height: 1.5em;
		margin: 0 auto;
	}

/* HEADER ============================== */
header{
		margin-top: 2em;
		margin-left: auto;
		margin-right: auto;
		overflow: auto;
	}
	
#intro {
		background: rgba(190, 190, 225, 0.85);
	}

h1,  h2{
		color: #000000;
	}

/* ABOUT ============================== */

/* COMPONENTS ============================== */
